<div class="container text-center mt-5" id="welcome-area">
    <h1>Thank you for your order!</h1>
    <p>Your drinks will be brought to your table shortly.</p>
    <p>You can pay your bill after enjoying your drinks. A member of our team will assist you with the payment at the reception.</p>
    <h2>Your Table Number is: <strong>@ViewBag.TableId</strong></h2>
</div>

@section Scripts {
    <script>
        $(function () {
            async function startConnection() {
                const connection = new signalR.HubConnectionBuilder()
                    .withUrl("/notificationHub?role=customer") // or role=administrator
                    .build();

                try {
                    await connection.start();
                    console.log("Connected");

                    // Now that the connection is established, send the notification
                    const message = "You have a new incoming order!";
                    await sendNotification(connection, message);
                } catch (err) {
                    console.error("Connection error:", err.toString());
                    setTimeout(startConnection, 5000); // Retry connection after 5 seconds
                }
            }

            async function sendNotification(connection, message) {
                if (!message) {
                    console.error("Message is not defined.");
                    return;
                }
                try {
                    await connection.invoke("SendNotification", message);
                    console.log("Notification sent.");
                } catch (err) {
                    console.error("Error sending notification:", err.toString());
                }
            }

            // Start the connection process
            startConnection();

            setTimeout(function () {
                window.location.href = '@Url.Action("Index", "Home")';
            }, 3000);
        });
    </script>
}

@section Styles {
    <style>
        body {
            background: url('/images/background_home.JPG') no-repeat center center fixed;
            background-size: cover;
        }

        #welcome-area {
            text-align: center;
            padding: 50px;
            background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
            border-radius: 10px;
            max-width: 600px;
            margin: 100px auto;
        }
    </style>
}